Backups/
Cache/
CachedData/
CachedExtensionVSIXs/
CachedExtensions/
Code Cache/
Crash Reports/
Dictionaries/
GPUCache/
Local Storage/
Session Storage/
blob_storage/
exthost Crash Reports/
logs/
Cookies
Cookies-journal
Network Persistent State
Preferences
TransportSecurity
languagepacks.json
machineid
rapid_render.json
storage.json
